@import "../Base/variables";

.account-modal-cache {
    z-index: 10;
    background-color: #000000d0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .account-modal {
        background-color: var(--backgroundColor);
        color: var(--titleColor);
        min-width: 350px;
        width: 350px;
        border-radius: 30px;
        border: 2px solid var(--titleColor);
        overflow: hidden;
        padding: 15px;
        height: fit-content;

        .not-concerned {
            background-color: var(--backgroundColor);
            color: var(--titleColor);
            padding-top: 7px;
            text-align: center;

            &-button {
                background-color: var(--backgroundColor);
                color: var(--buttonColorTwo);
                font-weight: 500;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }
}
