@import "../base/variables";

.bread-crumb {
    background-color: $dark2-color;
    color: $white-color;
    width: fit-content;
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;

    .one-path-box {
        .guillemet {
            font-size: $normal-font-size;
            font-weight: 600;
        }

        .link {
            padding: 0 8px;
            font-size: $normal-font-size;
            font-weight: 300;

            &:hover {
                text-underline-offset: 4px;
                text-decoration: underline 2px;
            }
        }
    }
}
