@import "../Base/variables";

.bread-crumb {
    background-color: var(--smoothBackgroundColor);
    color: var(--titleColor);
    width: fit-content;
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    z-index: 5;

    .one-path-box {
        background-color: var(--smoothBackgroundColor);
        color: var(--titleColor);
        .guillemet {
            background-color: var(--smoothBackgroundColor);
            color: var(--titleColor);
            font-size: $normal-font-size;
            font-weight: 600;
        }

        .link {
            background-color: var(--smoothBackgroundColor);
            color: var(--titleColor);
            padding: 0 8px;
            font-size: $normal-font-size;
            font-weight: 300;

            &:hover {
                text-underline-offset: 4px;
                text-decoration: underline 2px;
            }
        }
    }
}
