@import "../base/variables";

.menu-modal {
    background-color: $header-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    width: $menu-modal-size;
    position: absolute;
    top: $header-height-size;
    right: 15px;

    .menu-nav-link {
        padding: 15px;
        text-shadow: 2px 2px 2px $text-shadow-color;
        font-weight: 500;
        letter-spacing: 0.2px;
        font-size: $normal-font-size;
        border: 1px solid #ffffff;
        border-top: none;

        &:hover {
            background-color: #0000007e;
        }
    }
}

@media screen and (min-width: 700px) {
    .menu-modal {
        display: none;
    }
}
