@import "../Base/variables";

.project-container {
    background-color: var(--backgroundColor);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .one-project {
        background-color: var(--backgroundColor);
        width: 31%;
        height: fit-content;
        color: var(--titleColor);
        padding: 5px;
        margin: 15px 0;
        border-radius: 8px;
        overflow: hidden;
        display: block;
        border: 2px solid var(--buttonColorOne);

        &-title {
            background-color: var(--backgroundColor);
            color: var(--buttonColorOne);
            text-align: center;
            font-weight: 400;
            font-size: 18px;
        }

        &-description {
            background-color: var(--backgroundColor);
            color: var(--titleColor);
            padding: 0 5px 15px 5px;
            text-align: justify;
        }
    }
}
