@import "../Base/variables";

.header-background {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--headerColor);
    color: var(--titleColor);

    .header-container {
        background-color: var(--headerColor);
        color: var(--titleColor);
        height: $header-height-size;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        padding: 0 8px;

        .left-header-container {
            background-color: var(--headerColor);
            color: var(--titleColor);
            display: flex;
            align-items: center;

            .theme-pallet {
                background-color: transparent;
                color: var(--titleColor);
                display: none;
                flex-flow: row wrap;
                gap: 3px;
                width: calc($header-theme-choice-size * 2 + 3px);
                animation: rotate-pallet 60s infinite linear;

                .theme-choice-button {
                    background-color: transparent;
                    color: var(--titleColor);
                    width: $header-theme-choice-size;
                    height: $header-theme-choice-size;
                    border-radius: calc($header-theme-choice-size / 2);
                    border: 2px solid var(--titleColor);
                    animation: rotate-pallet 60s infinite linear reverse;

                    &.classic {
                        background: linear-gradient(
                            145deg,
                            #f25f4c 0%,
                            #f25f4c 40%,
                            #0f0e17 60%,
                            #0f0e17 100%
                        );
                    }

                    &.modern {
                        background: linear-gradient(
                            145deg,
                            #5a8ef0 0%,
                            #5a8ef0 40%,
                            #16161a 60%,
                            #16161a 100%
                        );
                    }

                    &.light {
                        background: linear-gradient(
                            145deg,
                            #ff5470 0%,
                            #ff5470 40%,
                            #fffffe 60%,
                            #fffffe 100%
                        );
                    }

                    &.dark {
                        background: linear-gradient(
                            145deg,
                            #7f5af0 0%,
                            #7f5af0 40%,
                            #16161a 60%,
                            #16161a 100%
                        );
                    }

                    &:hover {
                        border-color: var(--backgroundColor);
                    }

                    &.selected {
                        transform: scale(1.1);
                        border-color: #d8ba0d;
                    }

                    @keyframes rotate-pallet {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            // Zone avec le nom
            .header-logo {
                background-color: $transparent;
                border-radius: 10px;
                color: var(--titleColor);
                display: flex;
                align-items: center;
                margin: 0 6px;

                &-name {
                    background-color: transparent;
                    color: var(--titleColor);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &-firstname,
                &-lastname {
                    background-color: transparent;
                    color: var(--titleColor);
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0 3px;
                }

                &-bracket {
                    background-color: transparent;
                    color: var(--titleColor);
                    font-size: 40px;
                    font-weight: 200;
                    animation: infinite-loop 5s infinite linear;
                }

                @keyframes infinite-loop {
                    0% {
                        transform: rotateX(0);
                    }
                    50% {
                        transform: rotateX(180deg) translateY(-5px);
                    }
                    100% {
                        transform: rotateX(360deg);
                    }
                }
            }
        }

        .link-header-container,
        .account-header-container {
            background-color: var(--headerColor);
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
            margin: 0 4px;

            .header-nav-link {
                background-color: var(--headerColor);
                color: var(--titleColor);
                font-weight: 500;
                letter-spacing: 0.2px;
                font-size: $normal-font-size;
                margin: 0 2px;
                padding: 8px 5px;
                border-radius: 15px;
                text-shadow: 2px 2px 2px var(--textShadowColor);

                &:hover {
                    background-color: var(--backgroundColor);
                }

                &.router-link-exact-active {
                    text-underline-offset: 4px;
                    text-decoration: underline 2px;
                }
            }
        }

        .link-header-container {
            display: none;
        }

        // L'icone du menu qui apparait à la réduction de la page
        .reponsive-header-button {
            background-color: var(--headerColor);
            width: 35px;
            height: 35px;

            .reponsive-header-icon {
                width: 35px;
                height: 35px;
                fill: var(--titleColor);
                path {
                    transform: scale(0.35);
                }
            }

            &:hover {
                transform: scale(1.3);
            }
        }

        .menu-modal {
            background-color: var(--headerColor);
            color: var(--titleColor);
            display: flex;
            flex-direction: column;
            width: $menu-modal-size;
            position: absolute;
            top: $header-height-size;
            right: 15px;

            .menu-nav-link {
                padding: 15px;
                text-shadow: 2px 2px 2px var(--textShadowColor);
                font-weight: 500;
                letter-spacing: 0.2px;
                font-size: $normal-font-size;
                border: 1px solid var(--titleColor);
                border-top: none;
    
                &:hover {
                    background-color: $transparent;
                }

                &.router-link-exact-active {
                    background-color: var(--buttonColorOne);
                }
            }
        }
    }
}

// Au dessus de 700 pixels
@media screen and (min-width: 700px) {
    .header-background {
        .header-container {
            padding: 0 20px;

            .link-header-container {
                display: flex;
            }

            .link-header-container,
            .account-header-container {
                .header-nav-link {
                    margin: 0 5px;
                }
            }

            .account-header-container {
                .header-nav-link {
                    background-color: $transparent;
                }
            }

            .reponsive-header-button {
                display: none;
            }

            .menu-modal {
                display: none;
            }
        }
    }
}

// Au delà de 820 pixels
@media screen and (min-width: 820px) {
    .header-background {
        .header-container {
            padding: 0 5%;

            .left-header-container {
                .theme-pallet {
                    display: flex;
                }

                .header-logo {
                    margin: 0 20px;
                }
            }
        }
    }
}

// Au dessus de 1100 pixels
@media screen and (min-width: 1100px) {
    .header-background {
        .header-container {
            .link-header-container,
            .account-header-container {
                margin: 0 15px;

                .header-nav-link {
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: $big-font-size;
                    margin: 0 10px;
                    padding: 7px;
                }
            }
        }
    }
}
