@import "../base/variables";

.versionning {
    background-color: $black-color;
    color: $white-color;
    font-size: $small-font-size;
    padding: 3px;
    position: fixed;
    bottom: 0;
    right: 0;
}
