@import "../Base/variables";

.wave-decoration {
    position: fixed;
    background-color: transparent;
    height: calc(100% - $header-height-size);
    width: 300px;
    top: $header-height-size;
    left: 0;
    height: calc(100% - $header-height-size);
    
    svg {
        fill: var(--smoothBackgroundColor);
        height: 100%;
    }
}