@import "../../Base/variables";

$size-case: 90px;
$border-size-enabled-case: 3px;
$external-layout-size: calc($size-case * 2 / 3);
$text-size: calc($size-case/3);
$external-border-size: 3px;
$internal-border-size: 3px;
$board-container-size: calc(
    8 * $size-case + 2 * $external-layout-size + 2 * $external-border-size + 2 *
        $internal-border-size
);

$first-color: #6a3425;
$second-color: #c0a79f;
$first-color-highlight: #33150d;
$second-color-highlight: #5f4339;

$white-piece-color: #bbbbbb;
$white-piece-border-color: #3a3a3a;
$black-piece-color: #000000;
$black-piece-border-color: #3a3a3a;
$piece-stroke-width: calc($size-case/3.75);
$selected-case-color: #8d6e1a;
$selected-case-border: #cacaca;
$possible-moves-color: #185868;
$possible-moves-border: #a7a7a7;

$pawn-piece-choice-size: 150px;
$pawn-modal-internal-space-size: 2px;
$pawn-modal-border-size: 3px;
$pawn-modal-size: 2 * $pawn-piece-choice-size + $pawn-modal-internal-space-size +
    2 * $pawn-modal-border-size;
$pawn-modal-color: #53514f;
$pawn-modal-hover-color: #d4d4d4;
$pawn-modal-border-color: #272626;
$piece-choice-SVG-color: #8d6e1a;
$piece-choice-SVG-border-color: #272626;
$piece-choice-SVG-stroke-width: 15px;

.board-container {
    position: relative;
    height: $board-container-size;
    width: $board-container-size;
    background-color: $first-color;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    border: solid $external-border-size $second-color;

    .board-text {
        font-weight: 500;
        font-size: $text-size;
        color: $second-color;
        user-select: none;
    }

    .corner {
        width: $external-layout-size + $internal-border-size;
        height: $external-layout-size;
    }

    .lettersBox {
        height: $external-layout-size;
        width: calc(8 * $size-case);
        display: flex;
        flex-wrap: wrap;

        .letter {
            width: $size-case;
            height: $external-layout-size;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .numbersBox {
        width: $external-layout-size;
        height: calc(8 * $size-case) + 2 * $internal-border-size;

        .number {
            height: $size-case;
            width: $external-layout-size;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        [y="8"],
        [y="1"] {
            height: $size-case + $internal-border-size;
        }
    }

    .piecesBox {
        width: calc(8 * $size-case + 2 * $internal-border-size);
        height: calc(8 * $size-case + 2 * $internal-border-size);
        border: solid $internal-border-size $second-color;
        display: flex;
        flex-wrap: wrap;

        .case {
            width: $size-case;
            height: $size-case;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &--white {
                background-color: $second-color;

                &.piece-can-moves {
                    background: radial-gradient(
                        circle,
                        $second-color 26%,
                        $second-color-highlight 38%,
                        $second-color 100%
                    );
                    cursor: pointer;
                }
            }

            &--black {
                background-color: $first-color;

                &.piece-can-moves {
                    background: radial-gradient(
                        circle,
                        $first-color 26%,
                        $first-color-highlight 38%,
                        $first-color 100%
                    );
                    cursor: pointer;
                }
            }

            svg {
                margin-bottom: 4%;
                height: 94%;
                stroke-width: $piece-stroke-width;
                stroke-width: max(25px);
            }

            .unclickable {
                pointer-events: none;
            }

            .pawn {
                height: 82%;
            }
        }

        .pc--white {
            color: $white-piece-color;
            stroke: $white-piece-border-color;
        }

        .pc--black {
            color: $black-piece-color;
            stroke: $black-piece-border-color;
        }

        .selectedCase {
            background-color: $selected-case-color;
            border: $border-size-enabled-case solid $selected-case-border;
            border-radius: calc(0.1 * $size-case);
            cursor: pointer;
        }

        .possibleMove {
            background-color: $possible-moves-color;
            border: $border-size-enabled-case solid $possible-moves-border;
            border-radius: calc(0.1 * $size-case);
            cursor: pointer;
        }
    }

    #pawnTransformationModal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        position: absolute;
        z-index: 10;

        width: $pawn-modal-size;
        height: $pawn-modal-size;
        border: solid $pawn-modal-border-size $pawn-modal-border-color;
        border-radius: calc(
            ($pawn-modal-size - $pawn-modal-internal-space-size) / 2
        );
        top: calc(($board-container-size - $pawn-modal-size) / 2 - 3px);
        left: calc(($board-container-size - $pawn-modal-size) / 2 - 3px);
        background: radial-gradient(
            circle,
            $pawn-modal-border-color 0%,
            $pawn-modal-border-color 20%,
            $pawn-modal-color 70%
        );

        .piecechoiceBox {
            height: $pawn-piece-choice-size;
            width: $pawn-piece-choice-size;
            background-color: $pawn-modal-color;
            cursor: pointer;
            transition: all 0.25s;

            &:hover {
                background-color: $pawn-modal-hover-color;
            }

            svg {
                height: 70%;
                pointer-events: none;
                margin: 10px 35px;
                color: $piece-choice-SVG-color;
                stroke: $piece-choice-SVG-border-color;
                stroke-width: $piece-choice-SVG-stroke-width;
            }
        }

        .pawnChoiceBoxTL {
            border-top-left-radius: $pawn-piece-choice-size;
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }

        .pawnChoiceBoxTR {
            border-top-right-radius: $pawn-piece-choice-size;
            display: flex;
            align-items: flex-end;
            justify-content: start;
        }

        .pawnChoiceBoxBL {
            border-bottom-left-radius: $pawn-piece-choice-size;
            display: flex;
            align-items: flex-start;
            justify-content: end;
        }

        .pawnChoiceBoxBR {
            border-bottom-right-radius: $pawn-piece-choice-size;
            display: flex;
            align-items: flex-start;
            justify-content: start;
        }
    }

    .invisible {
        visibility: hidden;
    }
}
