@import "../../Base/variables";

.settings-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .reset-button,
    .moves-counter,
    .checked-box-input {
        margin: 8px;
    }

    .reset-button,
    .moves-counter,
    .checked-box-input,
    .check-shows-label {
        background-color: #ffffff;
        color: #000000;
        height: 40px;
        padding: 5px;
        display: flex;
        align-items: center;

        .check-shows-input:not(:checked) + .check-shows-label::after,
        .check-shows-input:checked + .check-shows-label::after {
            margin-left: 10px;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            padding: 2px 8px;
            border-radius: 12px;
        }

        .check-shows-input:not(:checked) + .check-shows-label::after {
            content: "✔";
            color: #9c9c9c;
            background-color: #9c9c9c;
        }

        .check-shows-input:checked + .check-shows-label::after {
            content: "✔";
            color: #000000;
            background-color: #6a3425;
        }
    }

    .checked-box-input {
        padding: 0;
    }
}

.table-box {
    width: fit-content;
    margin: 10px auto;
    overflow: scroll;
    max-width: 100%;
}

th,
td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

th {
    font-weight: 700;
    background-color: lightskyblue;
}

tr:nth-child(2n) {
    background-color: lightpink;
}

tr:nth-child(2n + 1) {
    background-color: lightgrey;
}

.emptyTD {
    background-color: #242424;
}

.temporay-explanation {
    color: var(--titleColor);
    text-align: justify;
}

.test {
    color: #ffffff;
}