// To retrieve default styles and variables
@import "@styles/index.scss";

.one-project-homepage {
    background-color: $color15;
    color: $color0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px 0 25px 0;
    margin: 30px 0;
    position: relative;
    overflow: hidden;
    transition: 250ms;

    &-title {
        width: fit-content;
        text-align: center;
        font-weight: 400;
        font-size: $extra-large;
    }

    &-description {
        color: $color0;
        width: 100%;
        padding: 9px 18px;
        text-align: justify;
        border-radius: 5px;
    }

    &-footer {
        display: flex;
        justify-content: end;
        align-items: center;

        .progression {
            display: none;
            width: 70px;
            margin: 4px 0 4px 30px;
            position: relative;

            .progression-purcent {
                position: absolute;
                top: 18px;
                left: 18px;
            }
        }

        .technos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 7px;

            .techno {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 6px;
                padding: 2px;
                border-radius: 5px;
                transition: none;

                &-logo {
                    max-width: 25px;
                }

                &-name {
                    text-align: center;
                    font-size: 0.8rem;
                    font-weight: 300;
                }

                &:hover {
                    background-color: $color12;
                }
            }
        }

        .access {
            position: relative;
            display: block;
            align-self: flex-end;
            margin-top: 10px;
            font-weight: 500;
            font-size: $large;
            width: fit-content;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: $color0;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        box-shadow: 2px 2px 10px $transparent-black;
        border-width: 0;
        border-color: $transparent-white $transparent-white $color0 $color0;
        // border-radius: 0 5px 0 0;
        transition: border-width 0.2s;
    }

    &:hover:after {
        border-width: 22px;
    }
}

@media only screen and (min-width: 430px) {
    .one-project-homepage {
        &-footer {
            justify-content: space-between;

            .progression {
                display: block;
            }
        }
    }
}
