.classic {
    $backgroundColor: #0f0e17;
    $smoothBackgroundColor: #242230;
    $titleColor: #fffffe;
    $textColor: #a7a9be;
    $textShadowColor: #0f0e178e;
    $headerColor: #f25f4c;
    $buttonColorOne: #ff8906;
    $buttonColorTwo: #e53170;
}

.modern {
    $backgroundColor: #16161a;
    $smoothBackgroundColor: #28282e;
    $titleColor: #fffffe;
    $textColor: #94a1b2;
    $textShadowColor: #16161a8e;
    $headerColor: #5a8ef0;
    $buttonColorOne: #825af0;
    $buttonColorTwo: #72757e;
}

.light {
    $backgroundColor: #fffffe;
    $smoothBackgroundColor: #d1d1d1;
    $titleColor: #00214d;
    $textColor: #1b2d45;
    $textShadowColor: #fffffe8e;
    $headerColor: #ff5470;
    $buttonColorOne: #d6bc26;
    $buttonColorTwo: #26d6c7;
}

.dark {
    $backgroundColor: #16161a;
    $smoothBackgroundColor: #232325;
    $titleColor: #fffffe;
    $textColor: #a7a9be;
    $textShadowColor: #16161a8e;
    $headerColor: #7f5af0;
    $buttonColorOne: #2cb67d;
    $buttonColorTwo: #72757e;
}
