.settingsBox {
  display: flex;
  justify-content: center;
  align-items: center;

  .resetButton,
  .movesCounter,
  .checkShows-label {
    background-color: #ffffff;
    color: #000000;
    width: fit-content;
    height: 40px;
    margin: 8px;
    padding: 5px;
    display: flex;
    align-items: center;

    .checkShows-input {
      width: 25px;
      height: 25px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.tableBox {
  width: fit-content;
  margin: 10px auto;
}

th,
td {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

th {
  font-weight: 700;
  background-color: lightskyblue;
}

tr:nth-child(2n) {
  background-color: lightpink;
}

tr:nth-child(2n+1) {
  background-color: lightgrey;
}

.emptyTD {
  background-color: #242424;
}