@import "variables";

// Container du HEADER
.header-container {
    height: $header-height-size;
    width: 100%;
    padding: 20px;
    background-color: $header-color;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sub-container {
    display: flex;
    align-items: center;
    display: none;
}

// Zone avec le nom
.header-fullname {
    display: flex;
    align-items: center;

    h1 {
        text-shadow: 2px 2px 2px #0f0e178e;
    }

    &-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-firstname,
    &-lastname {
        font-size: 18px;
        font-weight: 400;
        padding: 0 3px;
    }

    &-bracket {
        font-size: 40px;
        font-weight: 200;
    }
}

// Les 4 liens du Portfolio et login/register
.header-link {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px;
    margin: 0 2px;
    padding: 8px 5px;
    border-radius: 15px;
    transition: all 0.4s;
    text-shadow: 2px 2px 2px #0f0e178e;

    &:hover {
        background-color: $dark-color;
    }
}

// Les icons qui apparaissent à la réduction de la page
.responsive-icon-link {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .reponsive-header-button {
        width: 35px;
        height: 35px;

        .reponsive-header-icon {
            width: 35px;
            height: 35px;
            path {
                transform: scale(0.35);
                fill: $white-color;
            }
        }
    }
}

// Au dessus de 1050 pixels, les textes prennent leurs tailles normales
@media screen and (min-width: 1050px) {
    .header-fullname {
        &-firstname,
        &-lastname {
            font-size: 25px;
        }

        &-bracket {
            font-size: 60px;
        }
    }

    .header-link {
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 18px;
        margin: 0 10px;
        padding: 10px;
    }
}

// Au delà de 750 pixels, il n'y a plus de padding très fin et il devient dynamique
@media screen and (min-width: 750px) {
    .header-container {
        padding: 0 10%;
    }
}

// Au dessus de 600 pixels, les icones disparaissent et les liens prennent leurs places
@media screen and (min-width: 600px) {
    .header-sub-container {
        display: flex;
    }

    .responsive-icon-link {
        display: none;
    }
}
