@import "variables";

.home-first-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description {
        width: 425;
    }

    .illustration {
        width: calc(100% - 425px);
        object-fit: cover;
    }
}

.presentation-link-box {
    display: flex;
    justify-content: space-evenly;

    .link-to-more {
        margin: 10px;
    }
}

.paragraph {
    color: #a7a9be;
    padding: 3px 0;
    text-align: justify;
}

.main-skills {
    color: #fffffe;
}

.page-title {
    color: #fffffe;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
}

.categories {
    color: #fffffe;
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

.link-to-more {
    display: block;
    width: fit-content;
    padding: 6px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #ff8906;
    color: #fffffe;

    &.curriculum-pdf {
        background-color: #e53170;
    }
}

.promote-project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    
    .one-project {
        max-width: 250px;
        min-width: 160px;
        border-radius: 15px;
        border: 3px solid #ff8906;
        margin: 20px;
        overflow: hidden;
        
        &-title {
            color: #ff8906;
            padding: 0 5px;
            font-weight: 400;
            font-size: 20px;
        }

        &-description {
            padding: 0 5px 15px 5px;
            color: $white-color;
            text-align: justify;
        }
    }
}

.primary-contact-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .link-box {
        margin: 10px;

        .contact-link {
            display: block;
            color: #fffffe;
            background-color: #242230;
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            line-height: 16px;
            border-radius: 7px;


        }

        .button-copy {
            display: flex;
            
            #discordId {
                background-color: #242230;
                color: $white-color;
            }
            
            .displayed {                
                display: block;
            }
            
            .undisplayed {
                display: none;
            }
        }
    }
}
