@import "../base/variables";

.portfolio-home {
    color: $white-color;

    //? Les élements réutilisés plusieurs fois
    .paragraph {
        color: $grey-color;
        padding: 3px 0;
        text-align: justify;
    }

    .categories {
        color: $white-color;
        padding-top: 15px;
        font-weight: 400;
        font-size: $big-font-size;
    }
    //? Les élements réutilisés plusieurs fois

    .home-first-container {
        width: 100%;
        display: flex;
        align-items: center;

        .description {
            min-height: fit-content;
        }

        .page-title {
            font-weight: 500;
            font-size: 35px;
            line-height: 35px;
        }

        .illustration {
            width: calc(100% - 320px);
            object-fit: cover;
            padding-left: 40px;
        }
    }

    .presentation-link-box {
        display: flex;
        justify-content: space-evenly;
    }

    .link-to-more {
        background-color: $link-color;
        color: $white-color;
        width: fit-content;
        padding: 6px;
        margin: 10px auto;
        border-radius: 7px;
        display: block;
        text-align: center;

        &.curriculum-pdf {
            background-color: $button-color;
        }
    }

    .promote-project-box {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .one-project {
            width: 250px;
            border-radius: 15px;
            border: 3px solid $link-color;
            margin: 20px;
            overflow: hidden;

            &-title {
                color: $link-color;
                padding: 0 5px;
                font-weight: 400;
                font-size: $big-font-size;
            }

            &-description {
                padding: 0 5px 15px 5px;
                color: $white-color;
                text-align: justify;
            }
        }
    }

    .primary-contact-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .contact-link {
            text-align: center;
            background-color: $dark2-color;
            color: $white-color;
            font-size: $normal-font-size;
            padding: 8px 12px;
            margin: 10px;
            border-radius: 7px;
            display: block;
        }
    }

    .link-to-more, .contact-link {
        &::before {
            display: block;
            content: attr(title);
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .link-to-more {
        &::before {
            font-weight: 600;
        }
        &:hover {
            font-weight: 600;
        }
    }

    .contact-link {
        &::before {
            font-weight: 700;
            letter-spacing: 1.2px;
        }
        &:hover {
            font-weight: 700;
            letter-spacing: 1.2px;
        }
    }
}
