@import "../../Base/variables";

.german-test-container {
    background-color: var(--backgroundColor);
    z-index: 10;
    overflow: auto;

    .german-test-sub-container {
        background-color: var(--backgroundColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 15px;

        .activating-password {
            background-color: var(--backgroundColor);
            color: var(--textColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #german-password {
                background-color: var(--textColor);
                color: var(--backgroundColor);
                padding: 7px;
                margin: 4px;
                border-radius: 5px;
            }

            .submit-button {
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
            }
        }

        .testList-container {
            background-color: var(--backgroundColor);
            color: var(--textColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                padding: 1.5px;
            }
        }

        .verb-test {
            margin: 10px;
            padding: 10px;
            background-color: var(--textColor);
            display: flex;
            flex-direction: column;
            align-items: center;

            table {
                border: 1px solid black;
                thead {
                    border: 1px solid black;
                    tr {
                        th {
                            background-color: #b47070;
                            border: 1px solid black;
                        }
                    }
                }

                tbody {
                    border: 1px solid black;
                    font-size: 14px;

                    tr:nth-child(2n) {
                        background-color: #919191;
                        td {
                            background-color: #c7c7c7;
                            border: 1px solid #000000;
                            padding: 3.5px;

                            &.wrong {
                                background-color: #c7a1a1;
                            }
                        }
                    }
                    tr:nth-child(2n + 1) {
                        background-color: #f0ffff;
                        td {
                            background-color: #f0ffff;
                            border: 1px solid #000000;
                            padding: 3.5px;

                            &.wrong {
                                background-color: #fad5d5;
                            }
                        }
                    }

                    .correction {
                        text-align: center;
                        font-style: oblique;
                        color: #920707;
                        font-weight: 500;
                    }
                }
            }

            .validate-test-button {
                margin-top: 10px;
                font-weight: 500;
                font-size: 22px;
                padding: 3px 15px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #b47070;
                }
            }

            .unhighlight-button {
                font-size: 18px;
                padding-top: 10px;
            }
        }
    }
}
