// To retrieve default styles and variables
@import "@styles/index.scss";

.contact-box {
    margin: 5px;
    background-color: $color0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 90px;

    .contact-sub-box {
        background-color: $color14;
        padding: 10px;
        border-radius: 8px;
        height: fit-content;
        margin: 30px 0;

        .contact-box-title {
            color: $color0;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 7px;
        }
    }
}

.contact-me {
    background-color: $color0;
    color: $color14;
    margin: auto;
    height: fit-content;
    margin: 0 5px;
    max-width: 900px;

    &-form {
        background-color: $color0;
        color: $color14;
        display: flex;
        flex-direction: column;
        width: 100%;

        .input {
            background-color: $color0;
            color: $color14;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            label {
                background-color: $color0;
                color: $color14;
                padding: 4px;
            }

            input {
                background-color: $color14;
                color: $color0;
                padding: 4px;
                width: 100%;
            }

            textarea {
                transition:
                    all 0.4s,
                    width 0s,
                    height 0s;
                background-color: $color14;
                color: $color0;
                padding: 4px;
                width: 100%;
                min-height: 50px;
                resize: vertical;
            }
        }
        .submit-button {
            background-color: $color6;
            width: 200px;
            margin: auto;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 500px) {
    .contact-box {
        .contact-sub-box {
            margin: 30px 10px;
            .contact-box-title {
                font-size: 20px;
            }
        }
    }
    .contact-me {
        padding: 15px;
        margin: 0 auto;
    }
}
