@import "../../Base/variables";

.contact-box {
    background-color: var(--backgroundColor);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .contact-sub-box {
        background-color: var(--smoothBackgroundColor);
        padding: 10px;
        border-radius: 20px;
        height: fit-content;
        margin: 30px 0;

        .contact-box-title {
            background-color: var(--smoothBackgroundColor);
            color: var(--titleColor);
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 7px;
        }
    }
}

.contact-me-form {
    background-color: var(--backgroundColor);
    margin: auto;
    height: fit-content;
    width: fit content;
    margin: 80px 0;
}

@media screen and (min-width: 500px) {
    .contact-box {
        .contact-sub-box {
            margin: 30px 10px;
            .contact-box-title {
                font-size: 20px;
            }
        }
    }
}
