// To retrieve default styles and variables
@import "@styles/index.scss";

#app {
    position: relative;
    transition: 333ms;
    font-family: $kanit;
    background-color: $color0;
    width: 100%;
    min-width: 320px;
    min-height: 100svh;
    display: flex;
    flex-direction: column;

    main {
        width: 100%;
        margin: 0 auto;
        padding-top: $total-header-height;
        padding-bottom: 30px;
        flex: 1 0 auto;
    }
}
