@import "../../Base/variables";

.user-profile {
    .account-parameters {
        background-color: var(--backgroundColor);
        color: var(--buttonColorOne);
        font-weight: 500;
        font-size: 25px;
    }

    .parameters-container {
        background-color: var(--backgroundColor);
        display: flex;
        gap: 50px;
        justify-content: space-between;
        flex-wrap: wrap;

        .new-mail-form,
        .new-password-form,
        .delete-account-form {
            min-width: 400px;
        }

        .delete-account-form {
            .submit-button {
                z-index: 2;
            }

            #deleteAccountPassword {
                animation: 0.6s ease-out 1 displayInput;
                z-index: 1;

                @keyframes displayInput {
                    0% {
                        transform: translateY(-75px) scale(0);
                    }

                    100% {
                        transform: translateY(0px) scale(1);
                    }
                }
            }
        }
    }
}
