@import "../Base/variables";

.page-background {
    background-color: var(--backgroundColor);
    width: 100%;
    min-height: calc(100vh - $header-height-size);

    .page-container {
        background-color: var(--backgroundColor);
        max-width: 1000px;
        width: 100%;
        padding: 15px 15px;
        margin: auto;
    }
}

// Au delà de 700 pixels
@media screen and (min-width: 700px) {
    .page-background {
        .page-container {
            padding: 15px 50px;
        }
    }
}
