// On utilise le reset.css personnalisé
@use "reset";

// On importe le fichier servant de stylisation rapide pour des tests
@use "_temporary";
@use "../Page/Other/EtherumFollow";

// On importe nos différentes feuilles de styles
@use "../Page/HomePage";
@use "../Page/Other/NotFound";
@use "../Page/Other/UserProfile.scss";

// On importe nos feuilles de styles pour nos 4 pages principales
@use "../Page/Portfolio/pfHome";
@use "../Page/Portfolio/pfCurriculum";
@use "../Page/Portfolio/pfProjects";
@use "../Page/Portfolio/pfContact";

// On importe nos feuilles de styles pour nos sous-composants
@use "../Parts/AccountInput";
@use "../Parts/AccountModal";
@use "../Parts/BreadCrumb";
@use "../Parts/ContactButton";
@use "../Parts/ProjectContainer";
@use "../Parts/ProjectVersionning";
@use "../Parts/SiteHeader";
@use "../Parts/ThemePallet";

// On importe notre font qui sera à priori utilisée sur tout le site
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../Base/variables";

// Stylisation basique pour que le contenu de notre site soit affiché sur une largeur réduit et non un écran plein
// Application d'une transition de 0.4s pour rendre certains effects plus agréables que s'ils étaient instantanés.
#app {
    font-family: "Kanit", sans-serif;
    min-width: 386px;
    transition: all 0.4s;

    .page-background {
        background-color: var(--backgroundColor);
        width: 100%;
        min-height: calc(100vh - $header-height-size);

        .page-container {
            background-color: var(--backgroundColor);
            max-width: 1000px;
            width: 100%;
            padding: 15px 15px;
            margin: auto;
        }
    }

    // Au delà de 700 pixels
    @media screen and (min-width: 700px) {
        .page-background {
            .page-container {
                padding: 15px 50px;
            }
        }
    }
}
