// On stocke quelques variables CSS ici
$header-height-size: 75px;

$small-font-size: 12px;
$normal-font-size: 16px;
$big-font-size: 20px;

// $white-color: #000000;
// $black-color: #ffffff;
// $header-color: #067cdd;
// $link-color: #067cdd;
// $button-color: #6a06dd;
// $grey-color: #4e4e4e;
// $dark1-color: #dfdfdf;
// $dark2-color: #a7a7a7;
// $text-shadow-color: #1b18338e;


$header-color: #f25f4c;
$link-color: #ff8906;
$button-color: #e53170;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #a7a9be;
$dark1-color: #0f0e17;
$dark2-color: #242230;
$text-shadow-color: #0f0e178e;

// $header-color: #067cdd;
// $link-color: #067cdd;
// $button-color: #6a06dd;
// $white-color: #ffffff;
// $black-color: #000000;
// $grey-color: #a7a9be;
// $dark1-color: #0f0e17;
// $dark2-color: #242230;
// $text-shadow-color: #0f0e178e;