// On stocke quelques variables CSS ici
$header-height-size: 75px;

$small-font-size: 12px;
$normal-font-size: 16px;
$big-font-size: 20px;

$header-color: #f25f4c;
$link-color: #ff8906;
$button-color: #e53170;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #a7a9be;
$dark1-color: #0f0e17;
$dark2-color: #242230;
$text-shadow-color: #0f0e178e;