// On stocke quelques variables CSS ici
$header-height-size: 75px;
$header-theme-choice-size: 28px;
$menu-modal-size: 300px;

$small-font-size: 12px;
$normal-font-size: 16px;
$big-font-size: 18px;

$transparent: #ffffff33;

// La classe :root servant à stocker nos variables changeantes de thèmes
:root {
    --backgroundColor: #0f0e17;
    --smoothBackgroundColor: #242230;
    --titleColor: #ffffff;
    --textColor: #a7a9be;
    --textShadowColor: #0f0e178e;
    --headerColor: #f25f4c;
    --buttonColorOne: #ff8906;
    --buttonColorTwo: #e53170;
}
